/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* LAYOUT */
body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}
  
.col {
    width: 35%;
    padding: 0.5rem;
}

main {
    min-height: 80vh;
}

/* ////////////////// */
/*   MEDIA  QUERYS    */
/* ////////////////// */
/* Laptop */
@media screen and (max-width: 1024px) {
    .col {
        width: 50%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .col {
        width: 80%;
    }
}

/* Mobile */
@media screen and (max-width: 425px) {
    .col {
        width: 95%;
    }
}