/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* LAYOUT */
body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.row {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
  
.col {
    width: calc((100% - 30px) / 2);
}

h3 {
    margin-bottom:  20px;
}

/* TAGS */
.tag {
    text-transform: uppercase;
    padding: 6px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #fff;
    display: inline-block;
}

/* UNIQUE TAGS */
.unique-tags {
    margin: 40px 0;
    text-align: center;
}
  
.tags-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* TAG COLORS */
.tag-html {
    background-color: #f16529;
}
  
.tag-css {
    background-color: #264de4;
}
  
.tag-js {
    background-color: #f7df1e;
    color: #000;
}
  
.tag-php {
    background-color: #4f5b93;
}

/* ////////////////// */
/*   MEDIA  QUERYS    */
/* ////////////////// */
/* Tablet */
@media screen and (max-width: 768px) {
    .col {
        width: 100%;
    }
}
